<div class="login-box">
  <% unless logged_in? %>

    <h2><span><%= _('Login') %></span></h2>

    <div class="login-box-content">

<%
  @user ||= User.new
%>

    <%= labelled_form_for :user, :url => login_url do |f| %>

      <%= f.text_field :login, :onchange => 'this.value = convToValidLogin( this.value )' %>

      <%= f.password_field :password %>

      <%= @plugins.dispatch(:login_extra_contents).collect { |content| instance_eval(&content) }.join("") %>

      <% button_bar do %>
        <%= submit_button( 'login', _('Log in') )%>
        <% unless @plugins.dispatch(:allow_user_registration).include?(false) %>
          <%= link_to content_tag( 'span', _('New user') ),
              { :controller => 'account', :action => 'signup' },
              :class => 'button with-text icon-add' %>
        <% end %>
      <% end %>

    <% end %>

    <% unless @plugins.dispatch(:allow_password_recovery).include?(false) %>
      <p class="forgot-passwd">
        <%= link_to _("I forgot my password!"), :controller => 'account', :action => 'forgot_password' %>
      </p>
    <% end %>

    </div>

  <% else %>
    <h2><%= user.identifier %></h2>
  <% end %>

</div><!-- end id="login-box" -->

