<% if profile.person? %>
  <h1><%= _('Send an e-mail to %s') % profile.name %></h1>
<% else %>
  <h1><%= _('Send an e-mail to administrators') %></h1>

  <div class='tooltip'><%= _("The e-mail will be sent to the administrators of '%s'") % profile.name %></div>
<% end %>

<%= error_messages_for 'contact' %>

<%= labelled_form_for :contact do |f| %>
  <%= hidden_field_tag(:confirm, 'false') %>

  <%= required_fields_message %>

  <% location_fields = select_city(true) %>

  <% unless environment.enabled?('disable_select_city_for_contact') || location_fields.blank? %>
    <%= labelled_form_field _('City and state'), location_fields %>
  <% end %>
  <%= required f.text_field(:subject) %>

  <%= render :file => 'shared/tiny_mce' %>
  <%= required f.text_area(:message, :class => 'mceEditor') %>

  <%= labelled_form_field check_box(:contact, :receive_a_copy) + _('I want to receive a copy of the message in my e-mail.'), '' %>

  <%= submit_button(:send, _('Send'), :onclick => "$('confirm').value = 'true'") %>
<% end %>
