<div id='profile-wall-reply-<%= activity.id%>'>
  <div id='profile-wall-reply-form-<%= activity.id%>'>
    <p class='profile-wall-reply'>
      <% update_area = tab_action == 'wall' ? 'profile_activities' : 'network-activities' %>
      <%= form_remote_tag :url => {:controller => 'profile', :action => 'leave_comment_on_activity', :tab_action => tab_action}, :html => { :class => 'profile-wall-reply-form', 'data-update' => update_area } do %>
        <%= expandable_text_area :comment,
                                 :body,
                                 "reply_content_#{activity.id}",
                                 :cols => 50,
                                 :rows => 1,
                                 :class => 'submit-with-keypress',
                                 :title => _('Leave your comment'),
                                 :onfocus => ('if(this.value==this.title){this.value="";this.style.color="#000"};this.style.backgroundImage="url(' + profile_icon(current_person, :icon, false) + ')"' if logged_in?),
                                 :onblur => ('if(this.value==""){this.value=this.title;this.style.color="#ccc"};this.style.backgroundImage="none"' if logged_in?),
                                 :value => _('Leave your comment'),
                                 :style => 'color: #ccc' %>
        <%= hidden_field_tag :source_id, activity.id, :id => "activity_id_#{activity.id}" %>
      <% end %>
    </p>
  </div>
  <div id='profile-wall-message-response-<%=activity.id%>' class='profile-wall-message-response'></div>
</div>
