<div class="common-profile-list-block">

<h1><%= _("%s's friends") % profile.name %></h1>

<% cache_timeout(profile.friends_cache_key(params), 4.hours) do %>
<ul class='profile-list'>
  <% @friends.each do |friend| %>
    <%= profile_image_link(friend) %>
  <% end%>
</ul>

  <div id='pagination-profiles'>
    <%= pagination_links @friends, :param_name => 'npage' %>
  </div>
<% end %>

<% button_bar do %>
  <%= button :back, _('Go back'), { :controller => 'profile' } %>
  <% if user == profile %>
    <%= button :edit, _('Manage my friends'), :controller => 'friends', :action => 'index', :profile => profile.identifier %>
    <%= button(:search, _('Invite people from my e-mail contacts'), :controller => 'invite', :action => 'select_address_book') %>
  <% end %>
<% end %>

</div><!-- fim class="common-profile-list-block" -->

